{% extends 'base.html' %}
{% block content %}
<h2 style="padding: 20px;">Complete Your Payment</h2>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<form id="payment-form" method="POST" action="/payment_complete/">
    {% csrf_token %}
    <input type="hidden" name="razorpay_payment_id" id="razorpay_payment_id">
    <input type="hidden" name="razorpay_order_id" id="razorpay_order_id" value="{{ order_id }}">
    <input type="hidden" name="razorpay_signature" id="razorpay_signature">

    <script>
        var options = {
            "key": "{{ razorpay_key }}",
            "amount": "{{ amount }}",
            "currency": "INR",
            "name": "Vijayalakshmi Silks",
            "description": "{{ saree.name }}",
            "order_id": "{{ order_id }}",
            "handler": function (response){
                document.getElementById('razorpay_payment_id').value = response.razorpay_payment_id;
                document.getElementById('razorpay_order_id').value = response.razorpay_order_id;
                document.getElementById('razorpay_signature').value = response.razorpay_signature;
                document.getElementById('payment-form').submit();
            }
        };
        var rzp = new Razorpay(options);
        window.onload = function() { rzp.open(); };
    </script>
</form>
{% endblock %}

