{% extends 'base.html' %}
{% block content %}
<div class="container" style="padding: 50px;">
    <h2>Our Location - Kanchipuram</h2>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3890.307330435231!2d79.7119025!3d12.823406300000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52c3cfc4f370d9%3A0x10f1897307c1851c!2sKANCHIPURAM%20VIJAYALAKSHMI%20SILKS!5e0!3m2!1sen!2sin!4v1777524102078!5m2!1sen!2sin"
        width="100%"
        height="500"
        style="border:0; border-radius: 20px; box-shadow: 0 10px 30px rgba(0,0,0,0.1);"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
{% endblock %}

